<div class="absolute inset-0 fondo">
    <!-- Main -->
    <div class="flex flex-col flex-auto items-center justify-center h-full p-6 sm:p-10">
        <div class="tamano-img">
            <img src="assets/images/pages/404.png">
        </div>
        <!-- @formatter:on -->
        <div class="mt-4 w-1/2 font-extrabold tracking-tight leading-tight md:leading-none text-center">
            <span class="text-3xl letra-grande">Página no encontrada</span>
        </div>
        <!-- <div class="mt-2 text-lg md:text-xl font-medium tracking-tight text-center text-secondary">Favor intente nuevamente</div> -->
        <!-- Submit button -->
        <div class="flex flex-row justify-center w-full">
            <button
                class="fuse-mat-button-large w-40 mt-8 bg-azul-fintra text-white"
                mat-flat-button
                type="button" onclick="location.href='https://www.fintra.co/'">
                <span class="text-2xl">
                    Regresar
                </span>
            </button>
        </div>
    </div>
</div>