<div class="absolute inset-0 fondo">
    <!-- Main -->
    <div class="flex flex-col flex-auto items-center justify-center h-full p-6 sm:p-10">
        <!-- @formatter:off -->
        <div class="relative w-1/2">
            <img class="absolute w-30" src="assets/images/logo/logo-fintra-gris.png">
            <!-- <img src="assets/images/logo/logo.svg"> -->
        </div>
        <div class="w-1/2 ">
            <img src="assets/images/pages/reiniciar.svg">
        </div>
        <!-- @formatter:on -->
        <div class="text-2xl mt-2 font-extrabold tracking-tight leading-tight md:leading-none text-center">{{mensaje}}</div>
        <!-- Submit button -->
        <button class="mt-4 mat-button w-30 bg-azul-fintra text-white"  type="button" (click)="seguir()">
            <span>
                Reintentar
            </span>
        </button>
    </div>
</div>