<div class="flex flex-col h-screen flex-auto items-center sm:justify-center min-w-0 fondo">
  <div class="w-full">
      <div class="w-30 mt-24 sm:mt-0 mb-4 md:mb-8 acomodar">
          <img src="assets/images/logo/logo-fintra-gris.png">
      </div>
  </div>

  <div class="flex flex-row justify-center tamano lg:h-128 xl:h-160 rounded-2xl shadow bg-card">

      <img class="imagen sm:rounded-l-2xl" src="assets/images/pages/codotp.png">

      <div class="mt-4 sm:mt-2 mb-2 flex flex-col sm:h-full justify-center items-center size-col sm:ml-5 sm:mr-5">

          <div class="text-xl md:text-3xl xl:text-3xl font-extrabold tracking-tight leading-tight">Generar firma electrónica</div>

          <form class="md:w-full mt-4 md:mt-8" [formGroup]="generarForm">
            <div class="flex flex-col w-full">
                <div class="flex flex-row justify-center">
                    <mat-form-field class="w-72">
                        <mat-icon class="mr-2" [svgIcon]="'heroicons_outline:lock-closed'"></mat-icon>
                        <input id="pass" type="password" matInput autocomplete="off" [formControlName]="'pass'" placeholder="Ingrese nueva clave">
                        <mat-error *ngIf="generarForm.get('pass').hasError('required')">
                            No cumple con las condiciones.
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="flex flex-row justify-center">
                  <mat-form-field class="w-72">
                      <mat-icon class="mr-2" [svgIcon]="'heroicons_outline:lock-closed'"></mat-icon>
                      <input id="confpass" type="password" matInput autocomplete="off" [formControlName]="'confpass'" placeholder="Confirme nueva clave">
                      <mat-error *ngIf="generarForm.get('confpass').hasError('required')">
                          No cumple con las condiciones.
                      </mat-error>
                      <mat-error *ngIf="generarForm.get('confpass').errors?.notSame">
                        No coinciden las contraseñas
                      </mat-error>
                  </mat-form-field>
                </div>
            </div>
            <div class="mt-3 flex flex-row w-full justify-center md:w-full text-justify text-xs sm:text-size">
              <p class="mr-15">
                <strong>La clave debe cumplir con los siguientes requisitos:</strong>
              </p>    
            </div>

            <div class="flex flex-row w-full justify-center">
              <div class="flex flex-col text-justify text-xs sm:text-size lista-requesitos md:ml-2">
                <p [className]="(generarForm.get('pass').errors?.minlength || generarForm.get('pass').errors?.maxlength)  ? 'invalid' : 'valid'">
                  Debe tener mínimo 8 caracteres y máximo 15.
                </p> 
                <p [className]="generarForm.get('pass').errors?.notNumber  ? 'invalid' : 'valid'">
                  Debe tener al menos un (1) número.
                </p> 
                <p [className]="generarForm.get('pass').errors?.notLowerUpper  ? 'invalid' : 'valid'">
                  Debe tener almenos dos letras. Mínimo debe tener una mayúscula
                </p>
                <p [className]="generarForm.get('pass').errors?.notRepite  ? 'invalid' : 'valid'">
                  No debe tener más de 5 caracteres seguidos con las misma letra.
                </p> 
              </div>
            </div>
          
          <div class=" mt-2 sm:mt-4 md:mt-8 flex flex-row w-full justify-center">
            <p class="text-base">
              <mat-checkbox formControlName="condiciones"></mat-checkbox><strong>Acepto <a class="dowlader" (click)="abrirCondiciones()">condiciones</a></strong>.
              <mat-error *ngIf="generarForm.get('condiciones').hasError('requiredTrue')">
                Debe aceptar nuestras condiciones de Acuerdo de Firma Electrónica.
              </mat-error>
            </p>    
          </div>
        </form>
        <div class="flex flex-row justify-center w-full">
          <button class="fuse-mat-button-large w-26 sm:w-30 mt-4 sm:mt-8 mb-3 bg-azul-fintra text-white disabled:bg-gray-200" 
          mat-flat-button 
          type="button" 
          (click)="seguir()" 
          [disabled]="generarForm.invalid || Btndisabled==true">
              <span class="text-md sm:text-lg" *ngIf="Btndisabled!=true">
                  Ir a firmar
              </span>
              <mat-progress-spinner *ngIf="Btndisabled==true" [diameter]="24" [mode]="'indeterminate'">
              </mat-progress-spinner>
          </button>
      </div>
      </div>
  </div>
</div>
