<div class="flex flex-col h-screen flex-auto items-center sm:justify-center min-w-0 fondo">
    <div class="w-full">
        <div class="w-30 mt-48 sm:mt-0 mb-4 md:mb-8 acomodar">
            <img src="assets/images/logo/logo-fintra-gris.png">
        </div>
    </div>
    <div class="flex flex-row justify-center tamano lg:h-128 xl:h-160 rounded-2xl shadow bg-card">

        <img class="imagen sm:rounded-l-2xl" src="assets/images/pages/people.png">

        <div class="flex flex-col h-90 sm:h-full justify-center items-center input w-3/5">
            <div class="text-2xl sm:text-3xl font-extrabold tracking-tight leading-tight">Número de documento</div>
            <div class="mt-2 justify-center">
                <p class="w-64 text-center">
                    Para continuar, ingresa tu número de documento de identidad
                </p>
            </div>
            
            <fuse-alert class="mt-8 -mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false"
                [type]="alert.type" [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert>

            <form class="w-full mt-8" [formGroup]="comingSoonForm" #comingSoonNgForm="ngForm">

                <div class="flex flex-col w-full">

                    <div class="flex flex-row justify-center">
                        <mat-form-field class="w-72">
                            <mat-icon class="mr-2" [svgIcon]="'heroicons_outline:identification'"></mat-icon>
                            <input id="documento" matInput placeholder="Número de documento" autocomplete="off" [formControlName]="'documento'">
                            <mat-error *ngIf="comingSoonForm.get('documento').hasError('required')">
                                Número de identificación es requerido
                            </mat-error>
                            <mat-error *ngIf="comingSoonForm.get('documento').hasError('minlength')">
                                Documentos de identidad minimo requieren 10 caracteres.
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="flex flex-row justify-center w-full">
                        <button
                            class="fuse-mat-button-large w-30 mt-5 bg-azul-fintra text-white disabled:bg-gray-200"
                            mat-flat-button
                            type="button"
                            [disabled]="comingSoonForm.invalid || comingSoonForm.disabled"
                            (click)="register()">
                            <span class="text-lg" *ngIf="!comingSoonForm.disabled">
                                Continuar
                            </span>
                            <mat-progress-spinner
                                *ngIf="comingSoonForm.disabled"
                                [diameter]="24"
                                [mode]="'indeterminate'"></mat-progress-spinner>
                        </button>
                    </div>
                </div>                
            </form>
        </div>
    </div>
</div>
