<h2 mat-dialog-title>Cláusula de veracidad de los datos.</h2>
<mat-dialog-content class="mat-typography">
  <p class="text-justify">
    Yo como cliente solicitante acepto y declaro que la información suministrada y compartida sujeta a tratamiento por parte de Fintra S.A.S, 
    es veraz, completa, exacta, actualizada, comprobable y comprensible, y que asumo mi responsabilidad por la entrega de datos parciales, incompletos, 
    fraccionados, que induzcan a error, inconsistentes, o que sean falsos, bajo la premisa que en tal caso, me podré convertir en autor de los delitos de estafa y falsedad en documentos, 
    conforme a lo que disponen los artículos 246, 289 y 296 del Código Penal Colombiano, y demás normas complementarias y accesorias.
  </p>
  <p class="text-justify">
    Así mismo, declaro que los recursos solicitados y objeto del contrato serán usados para fines lícitos y 
    de ninguna manera para la comisión de cualquiera de los actos establecidos como delitos de acuerdo con la legislación penal.
  </p>
</mat-dialog-content>
<mat-dialog-actions class="justify-end">
  <button mat-button mat-dialog-close class="fuse-mat-button-large w-26 mt-5 bg-azul-fintra text-white">
    <span class="text-lg">
      Cerrar
    </span>
  </button>
</mat-dialog-actions>