.fondo {
    background: #eff3f6;
}

.size-card {
    width: 50%;
}

.imagen {
    width: 50%;
}

.input{
    width: 60%;
}

.fondo-img {
    background: linear-gradient(180deg, #7DD8FF 0%, #0068C9 100%)
}

.dowlader{
    color: #00c3fd;
    text-decoration: underline;
    cursor:pointer
}