<div class="flex flex-col h-screen flex-auto items-center sm:justify-center min-w-0 fondo">
  <div class="w-full">
    <div class="w-30 mt-26 sm:mt-0 mb-4 md:mb-8 acomodar">
        <img src="assets/images/logo/logo-fintra-gris.png">
    </div>
  </div>
  <div class="flex flex-row justify-center tamano altura-card rounded-2xl shadow bg-card">
    <img class="imagen sm:rounded-l-2xl" src="assets/images/pages/documentos_firmar.png">

    <div *ngIf="cargando!=true" class="flex flex-col sm:h-full justify-center items-center input w-4/5 sm:w-3/5 mr-5 ml-5 sm:ml-1 md:ml-4">
      <div class="text-xl md:text-3xl xl:text-3xl font-extrabold tracking-tight leading-tight">Documentos por firmar</div>
      <div class="mt-2 mb-4 w-full sm:w-80 md:w-full text-justify">
        <p class="text-sm sm:text-md md:text-base xl:text-lg">
          Los siguientes documentos se requieren para legalizar tu crédito, te invitamos a descargarlos uno a uno, antes de firmarlos.
        </p>
      </div>

      <div class="flex flex-col divide-y w-11/12 h-48 sm:h-52 md:h-72 lg:h-60 xl:max-h-80 pr-4 sm:pr-4 lg:pr-4 xl:pr-4 overflow-y-auto overflow-x-hidden">
        <div *ngFor="let item of listadoArchivos; let i=index" class="mb-4 pt-3 pb-2 px-3 flex flex-row justify-between bg-gray-100">
          <div class="flex flex-row gap-2 sm:gap-2 md:gap-2 xl:gap-4 w-11/12 sm:w-11/12 lg:w-11/12 xl:w-11/12">
            <div>
              <img src="assets/icons/logo-pdf.png">
            </div>
            <div class="mt-1 w-1/2 sm:w-4/5 lg:w-4/5 xl:w-3/5">
              <p class="text-sm sm:text-md xl:text-base truncate">{{item.informacion_archivo.descripcion}}</p>
            </div>
          </div>
          <div>
            <a class="cursor-pointer" (click)="descargar(item.informacion_archivo, item.base64)"><mat-icon svgIcon="heroicons_outline:download"></mat-icon></a>
          </div>
        </div>
      </div>
      <fuse-alert class="mt-8 -mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false"
                [type]="alert.type" [@shake]="alert.type === 'error'">
                {{alert.message}}
      </fuse-alert>
      <div class="w-full sm:w-80 md:w-full xl:w-full text-justify sm:mt-2 md:mt-4 lg:mt-2 xl:mt-4">
        <p class="text-sm sm:text-md md:text-base xl:text-lg">
          Confirmo que he leído, comprendido, y estoy de acuerdo con los documentos anteriormente detallados.
        </p>
      </div>
      <div class="flex flex-row justify-center w-full">
        <button
            class="fuse-mat-button-large w-26 lg:w-30 mt-4 md:mt-4 xl:mt-5 bg-azul-fintra text-white disabled:bg-gray-200"
            mat-flat-button
            type="button" (click)="seguir()" [disabled]="Btndisabled==true">
            <span class="text-md sm:text-lg" *ngIf="Btndisabled!=true">
                Ir a firmar
            </span>
            <mat-progress-spinner *ngIf="Btndisabled==true" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
        </button>
      </div>
    </div>
    <div *ngIf="cargando==true" class="flex flex-row w-full justify-center">
      <div class="flex flex-col h-full justify-center">
        <mat-progress-spinner [diameter]="192" [mode]="'indeterminate'"></mat-progress-spinner>
      </div>
    </div>
    
  </div>
</div>
