.fondo {
    background: #eff3f6;
}

.size-card {
    width: 50%;
}

.imagen {
    width: 50%;
    @media (max-width:767px) {
        display: none;
    }
}

.input{
    width: 60%;
}

.pdf {
    font-size: 9px;
    height: 13px;
    padding: 0px 5px;
    margin-top: 8px;
    position: absolute;
    top: 1px;
    left: 5px;
}

.tamano {
    @media (min-width:360px) {
        width: 90%;
    }
    @media (min-width:1280px) {
        width: 70%;
    }
    @media (min-width:1536px) {
        width: 50%;
    }
}

.overflow-y-auto {
    border-radius: 8px;
}

.acomodar {
    @media (min-width:360px) {
        margin-left: 1%;
    }
    @media (min-width:1280px) {
        margin-left: 12%;
    }
    @media (min-width:1440px) {
        margin-left: 18.5%;
    }
    @media (min-width:1536px) {
        margin-left: 23%;
    }
}

.altura-file {
    @media (min-width:360px) {
        height: 20%;
    }
    @media (min-width:768px) {
        height: 20%;
    }
    @media (min-width:1024px) {
        height: 40%;
    }
    @media (min-width:1200px) {
        height: 40%;
    }
    @media (min-width:1440px) {
        height: 35%;
    }
    @media (min-width:1536px) {
        height: 35%;
    }
}

.altura-card {
    @media (min-width:360px) {
        height: 70%;
    }
    @media (min-width:768px) {
        height: 55%;
    }
    @media (min-width:1024px) {
        height: 70%;
    }
    @media (min-width:1200px) {
        height: 75%;
    }
    @media (min-width:1440px) {
        height: 70%;
    }
    @media (min-width:1536px) {
        height: 65%;
    }
}

.dowlader{
    color: #00c3fd;
    text-decoration: underline;
    cursor:pointer
}