<div class="flex flex-col h-screen flex-auto items-center sm:justify-center min-w-0 fondo">
  <div class="w-full">
    <div class="w-30 mt-26 sm:mt-0 mb-4 md:mb-8 acomodar">
        <img src="assets/images/logo/logo-fintra-gris.png">
    </div>
  </div>
  <div class="flex flex-row justify-center tamano altura-card rounded-2xl shadow bg-card">
    <img class="imagen sm:rounded-l-2xl" src="assets/images/pages/documentos_firmar.png">

    <div *ngIf="cargando!=true" class="flex flex-col sm:h-full justify-center items-center input w-3/5">
      <div class="text-lg sm:text-2xl font-extrabold tracking-tight leading-tight">Documentos por firmar</div>
      <div class="mt-2 mb-4 w-full sm:w-80 md:w-full text-justify md:text-center">
        <p>
          Los siguientes documentos se requieren para legalizar tu crédito, te invitamos a descargarlos uno a uno, antes de firmarlos.
        </p>
      </div>

      <div class="flex flex-col divide-y altura-file overflow-y-auto md:overflow-hidden">
        <div *ngFor="let item of listadoArchivos; let i=index" class="py-3 flex flex-row justify-between gap-9">
          <div class="flex flex-row gap-4">
            <div class="relative flex flex-row">
              <mat-icon class="text-hint" [svgIcon]="'iconsmind:file'"></mat-icon>
              <div class="pdf z-10 rounded font-semibold text-white bg-red-600">
                PDF
              </div>
            </div>
            <div>
              <p>{{item.informacion_archivo.descripcion}}</p>
            </div>
          </div>
          <div>
            <a class="cursor-pointer" (click)="descargar(item.informacion_archivo, item.base64)"><mat-icon svgIcon="heroicons_outline:document-download"></mat-icon></a>
          </div>
        </div>
      </div>
      <fuse-alert class="mt-8 -mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false"
                [type]="alert.type" [@shake]="alert.type === 'error'">
                {{alert.message}}
      </fuse-alert>
      <div class="mt-5 w-full sm:w-80 md:w-full lg:w-90 xl:w-full text-justify md:text-center">
        <p>
          Confirmo que he leído, comprendido, y estoy de acuerdo con los documentos anteriormente detallados.
        </p>
      </div>
      <div class="flex flex-row justify-center w-full">
        <button
            class="fuse-mat-button-large w-30 mt-5 bg-azul-fintra text-white disabled:bg-gray-200"
            mat-flat-button
            type="button" (click)="seguir()" [disabled]="Btndisabled==true">
            <span class="text-lg" *ngIf="Btndisabled!=true">
                Ir a firmar
            </span>
            <mat-progress-spinner *ngIf="Btndisabled==true" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
        </button>
      </div>
    </div>
    <div *ngIf="cargando==true" class="flex flex-row w-full justify-center">
      <div class="flex flex-col h-full justify-center">
        <mat-progress-spinner [diameter]="192" [mode]="'indeterminate'"></mat-progress-spinner>
      </div>
    </div>
    
  </div>
</div>
