<div class="flex flex-col flex-auto items-center sm:justify-center min-w-0">
    <div class="max-h-100 w-4/5 py-8 px-4 sm:p-12 sm:rounded-2xl sm:shadow sm:bg-card">
        <div *ngIf="cargando != true" class="w-full mx-auto sm:mx-0 min-h-100">
            <div class="my-4" *ngFor="let pregunta of preguntas; let i=index">
                <ng-container *ngIf="i==vistaPregunta">
                    <label id="label{{pregunta.id}}" class="font-semibold m-0 p-0">{{i+1}} )
                        {{textCapi}}</label>

                    <mat-radio-group aria-labelledby="label{{pregunta.id}}" class="example-radio-group" [(ngModel)]="pregunta.seleccionada">
                        <ng-container *ngFor="let respuesta of pregunta.Respuesta">
                            <div class="grid grid-cols-12 gap-4 my-2">
                                <div class="col-start-1 content-center">
                                    <mat-radio-button class="example-radio-button" value="{{respuesta.id}}" (click)="capturarRespuesta(respuesta.id)">{{respuesta.texto}}</mat-radio-button>
                                </div>
                            </div>
                        </ng-container>
                    </mat-radio-group>
                </ng-container>
            </div>

            <div class="flex justify-center">
                <div class="z-10 sticky hidden lg:flex bottom-4 p-4">
                    <div class="flex items-center justify-center mx-auto p-2 rounded-full shadow-lg bg-azul-fintra">
                        <button class="flex-0 color-fintra" mat-button (click)="anterior()" [disabled]="vistaPregunta==0">
                            <mat-icon class="mr-2" [svgIcon]="'heroicons_outline:arrow-narrow-left'"></mat-icon>
                            <span class="mr-1 text-on-primary">Anterior</span>
                        </button>
                        <div class="flex items-center justify-center mx-2.5 font-medium leading-5 text-on-primary">
                            <span>{{conteoup}}</span>
                            <span class="mx-0.5 text-hint">/</span>
                            <span>{{totalpreguntas}}</span>
                        </div>
                        <button *ngIf="vistaPregunta<3" class="flex-0 color-fintra" mat-button (click)="continuar()" [disabled]="temprespuesta==0">
                            <span class="ml-1 text-on-primary">Siguiente</span>
                            <mat-icon class="ml-2" [svgIcon]="'heroicons_outline:arrow-narrow-right'"></mat-icon>
                        </button>
                        <button *ngIf="vistaPregunta==3" class="flex-0 color-fintra" mat-button (click)="continuar()" [disabled]="lastbutton==false">
                            <span class="ml-1 text-on-primary">Siguiente</span>
                            <mat-icon class="ml-2" [svgIcon]="'heroicons_outline:arrow-narrow-right'"></mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>