.color-fintra {
    color: #00c3fd;
}

.fondo {
    content: '';
    z-index: 9;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(155, 153, 153, 0.397)
}

.bg-lista {
    background-color: #bed104;
}

.text-lista {
    color: #bed104;
}

.numero {
    @media (min-width:360px) {
        width: 2.6em;
    }
    @media (min-width:768px) {
        width: 5%;
    }
    @media (min-width:1440px) {
        width: 3.5%;
    }
}

.pregunta {
    width: 97%;
}

.radio {
    @media (min-width:360px) {
        width:10%;
    }
    @media (min-width:768px) {
        width:5%;
    }
}

.respuesta {
    width:90%;
}

.circulo {
    border-radius: 50%;
    text-align: center;
    height: 30px;
    border: 2px solid #3ec0f2;
    color: #3ec0f2;

    @media (min-width:1280px) {
        width: 30px;
    }

    @media (min-width:1440px) {
        width: 100%;
    } 
}

.label-txt {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.swal-height {
    height: 50%;
    background-color: transparent;
}

.space-carta-1 {
    @media (min-width:1024px) {
        margin-bottom: 70%;
    }

    @media (min-width:1200px) {
        margin-bottom: 7em;
    }

    @media (min-width:1440px) {
        margin-bottom: 7em;
    } 
}

.tamano-laptop {
    @media (min-width:360px) {
        width: 115%;
        height: 32em;
    }

    @media (min-width:425px) {
        width: 115%;
        height: 26.5em;
    }

    @media (min-width:768px) {
        width: 50em;
        height: 23em;
    }

    @media (min-width:1024px) {
        width: 52em;
        height: 25.5em;
    }

    @media (min-width:1200px) {
        width: 70em;
        height: 24em;
    }

    @media (min-width:1440px) {
        width: 70em;
        height: 24em;
    }
}

.carta-1 {
    @media (min-width:1024px) {
        width: 15%;
    }
    
    @media (min-width:1200px) {
        width: 17%;
    }

    @media (min-width:1440px) {
        width: 16%;
    } 

    @media (min-width:1441px) {
        width: 25%;
    } 
}

.contain-carta-1 {
    @media (min-width:1024px) {
        width: 5em;
        height: 25.5em;
    }

    @media (min-width:1200px) {
        width: 5em;
        height: 24em;
    }

    @media (min-width:1440px) {
        width: 5em;
        height: 24em;
    }  
}

.shadow-right {
    box-shadow: 5px 0 5px -5px #333;
}

.carta-2 {
    width: 80%;
}


.h-carta {
    height: 1%;
}

.space-loading {
    width: 150px;
    height: 150px;
}

.circle {
    background: #5178D0;

}

.loading {
    display: flex;
    justify-content: center;
}

.loading::after {
    content: "";
    width: 50px;
    height: 50px;
    border: 10px solid #dddddd;
    border-top-color: #00c3fd;
    border-radius: 50%;
    animation: loading 1s ease infinite;
}

@keyframes loading {
    to {
        transform: rotate(1turn);
    }
}
