<div class="flex flex-row gap-9 h-full w-full">
    <div class="flex flex-row h-full justify-end carta-1 items-center -mt-15">
        <div class="flex flex-row h-80 justify-center bg-card rounded-2xl shadow pt-0 pb-0 pr-5 pl-5 contain-carta-1">
            <ol>
                <ng-container *ngFor="let item of allNumQues; let last = last">
                    <li
                        class="relative group py-6"
                        [class.current-step]="item.order === currentStep">
                        <ng-container *ngIf="!last">
                            <div
                                class="absolute top-6 left-4 w-0.5 h-full -ml-px"
                                [ngClass]="{'bg-primary': item.order < currentStep,
                                            'bg-gray-300 dark:bg-gray-600': item.order >= currentStep}"></div>
                        </ng-container>
                        <div
                            class="relative flex items-start cursor-pointer"
                            (click)="goToStep(item.order)" aria-disabled="true">
                            <div
                                class="flex flex-0 items-center justify-center w-8 h-8 rounded-full ring-2 ring-inset ring-transparent bg-card dark:bg-default"
                                [ngClass]="{'bg-primary dark:bg-primary text-on-primary group-hover:bg-primary-800': item.order < currentStep,
                                            'ring-primary': item.order === currentStep,
                                            'ring-gray-300 dark:ring-gray-600 group-hover:ring-gray-400': item.order > currentStep}">
                                
                                <ng-container *ngIf="item.order < currentStep">
                                    <mat-icon
                                        class="icon-size-5 text-current"
                                        [svgIcon]="'heroicons_solid:check'"></mat-icon>
                                </ng-container>
                                
                                <ng-container *ngIf="item.order === currentStep">
                                    <div class="text-md font-semibold text-primary dark:text-primary-500">{{item.order + 1}}</div>
                                </ng-container>
                                
                                <ng-container *ngIf="item.order > currentStep">
                                    <div class="text-md font-semibold text-hint group-hover:text-secondary">{{item.order + 1}}</div>
                                </ng-container>
                            </div>
                        </div>
                    </li>
                </ng-container>
            </ol>
        </div>
    </div>
    <div class="flex flex-row h-full carta-2 items-center">
        <div class="flex flex-col">
            <div class="h-90 w-4/5 py-8 px-4 sm:p-12 sm:rounded-2xl sm:shadow sm:bg-card">
                <div *ngIf="cargando != true" class="mx-auto min-h-100">
                    <div class="my-4" *ngFor="let pregunta of preguntas; let i=index">
                        <ng-container *ngIf="i==vistaPregunta">
                            <div class="flex flex-row gap-3">
                                <div>
                                    <label id="label{{pregunta.id}}" class="font-semibold m-0 p-0">
                                        {{i+1}})
                                    </label>
                                </div>
                                <div>
                                    <label id="label{{pregunta.id}}" class="font-semibold m-0 p-0">
                                        {{textCapi}}
                                    </label>
                                </div>
                            </div>
                            <div class="ml-9">
                                <mat-radio-group aria-labelledby="label{{pregunta.id}}" [(ngModel)]="pregunta.seleccionada">
                                    <ng-container *ngFor="let respuesta of pregunta.Respuesta">
                                        <div class="grid grid-cols-12 gap-4 my-2">
                                            <div class="col-start-1 content-center">
                                                <mat-radio-button class="example-radio-button" value="{{respuesta.id}}" (click)="capturarRespuesta(respuesta.id)">{{respuesta.texto}}</mat-radio-button>
                                            </div>
                                        </div>
                                    </ng-container>
                                </mat-radio-group>
                            </div>
                            
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="flex flex-row ml-1/4">
                <div class="z-10 sticky hidden lg:flex bottom-4 p-4">
                    <div class="flex items-center justify-center mx-auto p-2 rounded-full shadow-lg bg-azul-fintra">
                        <button class="flex-0 color-fintra" mat-button (click)="anterior()" [disabled]="vistaPregunta==0">
                            <mat-icon class="mr-2" [svgIcon]="'heroicons_outline:arrow-narrow-left'"></mat-icon>
                            <span class="mr-1 text-on-primary">Anterior</span>
                        </button>
                        <div class="flex items-center justify-center mx-2.5 font-medium leading-5 text-on-primary">
                            <span>{{conteoup}}</span>
                            <span class="mx-0.5 text-hint">/</span>
                            <span>{{totalpreguntas}}</span>
                        </div>
                        <button *ngIf="vistaPregunta<3" class="flex-0 color-fintra" mat-button (click)="continuar()">
                            <span class="ml-1 text-on-primary">Siguiente</span>
                            <mat-icon class="ml-2" [svgIcon]="'heroicons_outline:arrow-narrow-right'"></mat-icon>
                        </button>
                        <button *ngIf="vistaPregunta==3" class="flex-0 color-fintra" mat-button (click)="continuar()" [disabled]="lastbutton==false">
                            <span class="ml-1 text-on-primary">Siguiente</span>
                            <mat-icon class="ml-2" [svgIcon]="'heroicons_outline:arrow-narrow-right'"></mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
</div>