<div class="flex flex-col h-screen flex-auto items-center sm:justify-center min-w-0 fondo">
  <div class="w-full">
      <div class="w-30 mt-30 sm:mt-0 mb-4 md:mb-8 acomodar">
          <img src="assets/images/logo/logo-fintra-gris.png">
      </div>
  </div>

  <div class="flex flex-row justify-center tamano lg:h-128 xl:h-160 rounded-2xl shadow bg-card">

      <img class="imagen sm:rounded-l-2xl" src="assets/images/pages/codotp.png">

      <div class="mt-4 sm:mt-2 mb-4 sm:mb-2 flex flex-col sm:h-full justify-center items-center size-col sm:ml-5 sm:mr-5">

          <div class="text-xl sm:text-3xl font-extrabold tracking-tight leading-tight">Validación de código OTP</div>

          <div class="mt-4 flex flex-row w-full justify-center">
              <p class="text-justify">
                Por favor digite el código enviado al celular <strong>{{telefono}}</strong>.
              </p>    
          </div>

          <div class="mt-4 justify-center">
            <p class="w-64 text-center contador"><span class="text-4xl">{{seconds}}</span> segundos</p>
          </div>

          <div class="mt-2 justify-center">
            <p class="w-64 text-center">
                Tiempo de vida de la clave dinámica.
            </p>    
        </div>

          <form class="lg:mt-8 xl:mt-5" [formGroup]="validarForm">

            <div class="flex flex-col w-full">
                <div class="flex flex-row justify-center">
                    <mat-form-field class="w-72">
                        <mat-icon class="mr-2" [svgIcon]="'heroicons_outline:lock-closed'"></mat-icon>
                        <input id="codigo" matInput autocomplete="off" [formControlName]="'codigo'" [disabled]="botonff==true">
                        <mat-error *ngIf="validarForm.get('codigo').hasError('required')">
                            Código OTP invalido
                        </mat-error>
                    </mat-form-field>
                </div>
                
                <div class="ml-15 md:ml-0 flex flex-col md:flex-row w-full md:gap-4 mt-5">
                    <button class="fuse-mat-button-large w-40 bg-azul-fintra text-white disabled:bg-gray-200" mat-flat-button 
                            type="button" [disabled]="botonff==true || validarForm.invalid || validarForm.disabled" (click)="seguir()">
                            <span class="text-lg" *ngIf="botonff!=true">
                                Validar OTP
                            </span>
                            <mat-progress-spinner *ngIf="botonff==true" [diameter]="24" [mode]="'indeterminate'">
                            </mat-progress-spinner>
                    </button>
                    <button class="mt-4 md:mt-0 fuse-mat-button-large w-40 bg-white shadow-md disabled:bg-gray-200 disabled:shadow-none disabled:text-white" mat-flat-button 
                        type="button" [disabled]="reenvio==false" (click)="reenviar()">
                        <span class="text-lg color-fintra" *ngIf="btnreenvio!=true">
                            Reenviar OTP
                        </span>
                        <mat-progress-spinner *ngIf="btnreenvio==true" [diameter]="24" [mode]="'indeterminate'">
                        </mat-progress-spinner>
                    </button>
                </div>
            </div>
            
        </form>
      </div>
  </div>
</div>