.fondo {
    background: #eff3f6;
}

.fondo-img {
    background: linear-gradient(180deg, #7DD8FF 0%, #0068C9 100%)
}

.letra-grande {
    color: #6d6d6d;
}

.size-card {
    width: 50%;
}

.imagen {
    width: 50%;
}

.input{
    width: 60%;
}

.border-radio {
    border-radius: 30px;
}

.space-laptop {
    width: 65%;
}