.fondo {
    background: #eff3f6;
}

.fondo-img {
    background: linear-gradient(180deg, #7DD8FF 0%, #0068C9 100%)
}

.letra-grande {
    color: #6d6d6d;
}

.size-col {
    @media (min-width:360px) {
        width: 90%;
    }
    @media (min-width:1280px) {
        width: 60%;
    }
    @media (min-width:1536px) {
        width: 50%;
    }
}

.imagen {
    width: 50%;
    @media (max-width:767px) {
        display: none;
    }
}

.input{
    width: 60%;
}

.tamano {
    @media (min-width:360px) {
        width: 90%;
    }
    @media (min-width:1280px) {
        width: 60%;
    }
    @media (min-width:1536px) {
        width: 50%;
    }
}

.acomodar {
    @media (min-width:360px) {
        margin-left: 1%;
    }
    @media (min-width:1280px) {
        margin-left: 18%;
    }
    @media (min-width:1440px) {
        margin-left: 18.5%;
    }
    @media (min-width:1536px) {
        margin-left: 23%;
    }
}

.altura-file {
    @media (min-width:360px) {
        height: 20%;
    }
    @media (min-width:768px) {
        height: 20%;
    }
    @media (min-width:1024px) {
        height: 40%;
    }
    @media (min-width:1200px) {
        height: 40%;
    }
    @media (min-width:1440px) {
        height: 35%;
    }
    @media (min-width:1536px) {
        height: 35%;
    }
}

.ancho-mensaje {
    @media (min-width:360px) {
        width: 90%;
    }
    @media (min-width:1280px) {
        width: 60%;
    }
    @media (min-width:1536px) {
        width: 50%;
    }
}

.border-radio {
    border-radius: 30px;
}

.space-laptop {
    width: 65%;
}

.verde-fintra {
    border-left-color: #bacd12;
}