<div class="flex flex-col h-screen flex-auto items-center sm:justify-center min-w-0 fondo">
    <div class="w-4/5">
        <div class="w-30 mb-8 ml-64">
            <img src="assets/images/logo/logo-fintra-gris.png">
        </div>
    </div>

    <div class="flex flex-row size-card sm:rounded-2xl sm:shadow sm:bg-card">

        <img class="imagen sm:rounded-l-2xl h-160" src="assets/images/pages/codotp.png" *ngIf="paso==1">
        <img class="imagen sm:rounded-l-2xl h-160" src="assets/images/pages/codotp.png" *ngIf="paso==2">

        <div class="flex flex-col h-full justify-center items-center input">

            <div class="text-3xl font-extrabold tracking-tight leading-tight" *ngIf="paso==1">Validación de identidad</div>
            <div class="text-3xl font-extrabold tracking-tight leading-tight" *ngIf="paso==2">Código OTP</div>

            <div class="mt-2 justify-center">
                <p class="w-64 text-center" *ngIf="paso==1">
                    Por favor dar click para iniciar el proceso.
                </p> 
                <p class="w-64 text-center" *ngIf="paso==2">
                    Por favor digite el código enviado al número: <strong>{{datosUsuario.celular}}</strong>
                </p>    
            </div>

            <fuse-alert class="mt-8 -mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false"
                [type]="alert.type" [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert>

            <div class="flex flex-row justify-center w-full" *ngIf="paso==1">
                <button class="fuse-mat-button-large w-30 mt-5 bg-azul-fintra text-white" mat-flat-button type="button" (click)="generarOTP()" [disabled]="botonff==true">
                    <span *ngIf="botonff!=true">
                        Continuar
                    </span>
                    <mat-progress-spinner *ngIf="botonff==true" [diameter]="24" [mode]="'indeterminate'">
                    </mat-progress-spinner>
                </button>
            </div>



            <form class="mt-8" [formGroup]="comingSoonForm" #comingSoonNgForm="ngForm" *ngIf="paso==2">

                <div class="flex flex-col w-full">
                    <div class="flex flex-row justify-center">
                        <mat-form-field class="w-72">
                            <mat-icon class="mr-2" [svgIcon]="'heroicons_outline:lock-closed'"></mat-icon>
                            <input id="documento" matInput autocomplete="off" [formControlName]="'documento'">
                            <mat-error *ngIf="comingSoonForm.get('documento').hasError('required')">
                                Código OTP invalido
                            </mat-error>
                        </mat-form-field>
                    </div>
                    
                    <div class="flex flex-row justify-center w-full">
                        <button class="fuse-mat-button-large w-30 mt-5 bg-azul-fintra text-white" mat-flat-button type="button" [disabled]="comingSoonForm.disabled" (click)="validateOtp()">
                            <span class="text-lg" *ngIf="!comingSoonForm.disabled">
                                Verificar
                            </span>
                            <mat-progress-spinner *ngIf="comingSoonForm.disabled" [diameter]="24" [mode]="'indeterminate'">
                            </mat-progress-spinner>
                        </button>
                    </div>
                </div>
                
            </form>

        </div>

    </div>
</div>