<div class="flex flex-col flex-auto items-center sm:justify-center min-w-0">
    <div class="flex flex-row w-3/4 gap-5 sm:w-auto py-8 px-4 sm:p-12 sm:rounded-2xl sm:shadow sm:bg-card">
        <div class="w-80" *ngIf="paso==1">
            <img src="assets/images/pages/proceso.svg">
        </div>
        <div class="flex flex-col w-full max-w-80 sm:w-80 mx-auto sm:mx-0" *ngIf="paso==1">
            <div class="text-2xl font-extrabold tracking-tight leading-tight">Validación de identidad</div>
            <div class="mt-5">
                Por favor dar click para iniciar el proceso.
            </div>
            <button class="mt-10 fuse-mat-button-large w-full bg-azul-fintra text-white" mat-flat-button type="button"
               (click)="generarOTP()" [disabled]="botonff==true">
                <span *ngIf="botonff!=true">
                    Continuar
                </span>
                <mat-progress-spinner 
                    *ngIf="botonff==true" [diameter]="24" [mode]="'indeterminate'">
                </mat-progress-spinner>
            </button>
        </div>
        <div class="w-80" *ngIf="paso==2">
            <img src="assets/images/pages/mobile_messages.svg">
        </div>
        <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0" *ngIf="paso==2">
            <div class="mt-8 text-2xl font-extrabold tracking-tight leading-tight">Codigo OTP</div>
            <div class="mt-0.5">
                Porfavor digitar el codigo enviado al numero <strong>{{datosUsuario.celular}}</strong>
            </div>
            <fuse-alert class="mt-8 -mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false"
                [type]="alert.type" [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert>
            <!-- Coming soon form -->
            <form class="mt-8" [formGroup]="comingSoonForm" #comingSoonNgForm="ngForm">
                <!-- Email field -->
                <mat-form-field class="w-full">
                    <mat-label>Número OTP</mat-label>
                    <input id="documento" matInput autocomplete="off" [formControlName]="'documento'">
                    <mat-error *ngIf="comingSoonForm.get('documento').hasError('required')">
                        Número OTP invalido
                    </mat-error>
                </mat-form-field>
                <!-- Submit button -->
                <button class="fuse-mat-button-large w-full mt-3 bg-azul-fintra text-white" mat-flat-button
                    type="button" [disabled]="comingSoonForm.disabled" (click)="validateOtp()">
                    <span *ngIf="!comingSoonForm.disabled">
                        Continuar
                    </span>
                    <mat-progress-spinner 
                    *ngIf="comingSoonForm.disabled" [diameter]="24" [mode]="'indeterminate'">
                    </mat-progress-spinner>
                </button>
            </form>
        </div>
    </div>
</div>
