<div class="flex flex-col h-screen flex-auto items-center sm:justify-center min-w-0 fondo">
  <div class="w-4/5">
    <div class="w-30 mb-8 lg:ml-26 xl:ml-64">
        <img src="assets/images/logo/logo-fintra-gris.png">
    </div>
  </div>
  <div class="flex flex-row lg:w-3/5 xl:w-1/2 lg:h-128 xl:h-160 sm:rounded-2xl sm:shadow sm:bg-card">
    <img class="imagen sm:rounded-l-2xl" src="assets/images/pages/people.png">

    <div class="flex flex-col h-full justify-center items-center input">
      <div class="text-3xl font-extrabold tracking-tight leading-tight">Política y cláusula de datos</div>
      <div class="mt-2 justify-center">
        <p class="lg:w-80 xl:w-100 lg:text-center xl:text-justify">
          Para continuar se requiere aceptar los siguientes términos:
        </p>
      </div>
      <fuse-alert class="mt-8 -mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false"
                [type]="alert.type" [@shake]="alert.type === 'error'">
                {{alert.message}}
      </fuse-alert>

      <form class="w-full lg:mt-5 xl:mt-8" [formGroup]="checkForm">
        <div class="flex flex-col w-full">
          <div class="flex flex-row justify-start ml-15">
            <mat-checkbox formControlName="politica"></mat-checkbox><p>Acepto <a href="/assets/documentos/politica.pdf" target="_blank" class="dowlader">Política de tratamiento de datos personales.</a></p>
          </div>
          <div class="flex flex-row justify-start ml-15 mt-2">
            <mat-checkbox formControlName="clausula"></mat-checkbox><p>Acepto <a class="dowlader" (click)="abrirClausula()">Cláusula de veracidad de los datos.</a></p>
          </div>
          <div class="flex flex-row justify-center w-full">
            <button
                class="fuse-mat-button-large w-30 mt-5 bg-azul-fintra text-white disabled:bg-gray-200"
                mat-flat-button
                type="button"
                [disabled]="checkForm.invalid" (click)="seguir()">
                <span class="text-lg">
                    Continuar
                </span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
