<div class="flex flex-col h-screen flex-auto items-center sm:justify-center min-w-0 fondo">
  <div class="w-full">
    <div class="w-30 mt-48 sm:mt-0 mb-4 md:mb-8 acomodar">
        <img src="assets/images/logo/logo-fintra-gris.png">
    </div>
  </div>
  <div class="flex flex-row justify-center tamano altura-card rounded-2xl shadow bg-card">

    <img class="imagen sm:rounded-l-2xl" src="assets/images/pages/people.png">

    <div class="flex flex-col h-full justify-center items-center input">
      <div class="text-xl sm:text-3xl font-extrabold tracking-tight leading-tight">Política y cláusula de datos</div>
      <div class="mt-4 flex flex-row w-4/5 md:w-11/12 justify-center">
        <p class="text-justify">
          Para continuar se requiere aceptar los siguientes términos:
        </p>
      </div>

      <form class="w-full mt-2" [formGroup]="checkForm">
        <div class="flex flex-row w-4/5 md:w-11/12 chekes">
          <mat-checkbox formControlName="politica"></mat-checkbox><p>Acepto <a href="/assets/documentos/politica.pdf" target="_blank" class="dowlader">Política de tratamiento de datos personales.</a></p>
        </div>
        <div class="flex flex-row w-4/5 md:w-11/12 chekes mt-2">
          <mat-checkbox formControlName="clausula"></mat-checkbox><p>Acepto <a class="dowlader" (click)="abrirClausula()">Cláusula de veracidad de los datos.</a></p>
        </div>
      </form>
      <div class="flex flex-row justify-center w-full">
        <button
            class="fuse-mat-button-large w-30 mt-5 bg-azul-fintra text-white disabled:bg-gray-200"
            mat-flat-button
            type="button"
            [disabled]="checkForm.invalid" (click)="seguir()">
            <span class="text-lg">
                Continuar
            </span>
        </button>
      </div>
    </div>
  </div>
</div>
